@(personForm: Form[Person], personList : List[Person])

@import helper._

@main("Welcome to Play2") {


<h1>ABM de Personas</h1>

<table>
            <thead>
                <tr>
                   
                </tr>
            </thead>
            <tbody>

                @for(person <- personList) {
                    <tr>
                         <td>@person.name</td>
                         <td width="15%"><a href="@routes.Application.edit(person.id)">editar</a> &nbsp; &nbsp;<a href="@routes.Application.delete(person.id)">eliminar</a></td>
                        
                    </tr>
                }

            </tbody>
        </table>


 @form(routes.Application.save()) {
        
        <fieldset>
            @inputText(personForm("surName"), '_label -> "Apellido")  
            @inputText(personForm("name"), '_label -> "Nombre")
            @inputText(personForm("email"), '_label -> "Mail")
  
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Crear" class="btn primary"> 
        </div>
        
    }



}
